%section#add
  %form{:action => "/", :method => "post"}
    %textarea{:name => "content", :placeholder => "TODO here"}
    %input{:type => "submit", :value => "Add TODO"}

- @notes.each do |note|
  %article{:class => note.complete? && "complete"}
    %p
      = note.content
      %span
        %a{:href => "/#{note.id}"} [edit]
    %p{:class => "links"}
      %a{:href => "/#{note.id}/complete"}= note.complete ? "undone" : "done"
    %p{:class => "meta"}
      = "Created: #{note.created_at}"
